@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav a {
        background: none;
        color: black;
    }

    .about-grid {
        grid-template-columns: 2fr 1fr;
    }
}